### Problem Statement4:

Write a Python program that reads the Groceries data.csv (provided on LMS) file into a DataFrame. The following are the tasks that need to be taken into consideration while constructing the solution to using the apriori algorithm and list out items that are sold most frequently with other items. Dataset file contains tabular data, where it has items, date, member number, day of the month, day of the week, etc.Tasks to be performed:

Install mlxtend library for further process

2.Load the Groceries data.csv data into a Data frame

3.Print customer data where the member number is 1001

4.Create a new column as “item count”, and give the count as 1(because all customers bought 1 item on each day only)

5.Drop unnecessary columns like "month","day","year","day_of_week"

6.Create a new data frame where all data is grouped by member id and items they bought and set their value as item count.

7.Use the Apriori algorithm and generate frequent itemsets that have the support of at least 7%

8.Generating the rules with their corresponding support, confidence, and lift

9.Filtering out the values with lift > = 1 and confidence > = 0.5

Install mlxtend library for further process

In [112]:
import pandas as pd
import numpy as np
from scipy import integrate
import seaborn as sns
import matplotlib.pyplot as mp
import plotly.offline as pyo
import plotly.graph_objs as go;
import pandas_datareader as datareader
import datetime as dt
import math
from sklearn.utils import shuffle
import warnings
warnings.filterwarnings('ignore')
import mlxtend as ml

2.Load the Groceries data.csv data into a Data frame

In [113]:
data=pd.read_csv("D:\Shivam\study material\CSV\Groceries data.csv")
data

,Member_number,Date,itemDescription,year,month,day,day_of_week
0,1808,2015-07-21,tropical fruit,2015,7,21,1
1,2552,2015-05-01,whole milk,2015,5,1,4
2,2300,2015-09-19,pip fruit,2015,9,19,5
3,1187,2015-12-12,other vegetables,2015,12,12,5
4,3037,2015-01-02,whole milk,2015,1,2,4
...,...,...,...,...,...,...,...
38760,4471,2014-08-10,sliced cheese,2014,8,10,6
38761,2022,2014-02-23,candy,2014,2,23,6
38762,1097,2014-04-16,cake bar,2014,4,16,2
38763,1510,2014-03-12,fruit/vegetable juice,2014,3,12,2
38764,1521,2014-12-26,cat food,2014,12,26,4


3.Print customer data where the member number is 1001

In [114]:
data[data['Member_number']==1001]

,Member_number,Date,itemDescription,year,month,day,day_of_week
364,1001,2015-01-20,frankfurter,2015,1,20,1
5695,1001,2015-02-05,frankfurter,2015,2,5,3
6612,1001,2015-04-14,beef,2015,4,14,1
9391,1001,2014-07-02,sausage,2014,7,2,2
11046,1001,2014-12-12,whole milk,2014,12,12,4
16513,1001,2015-01-20,soda,2015,1,20,1
21844,1001,2015-02-05,curd,2015,2,5,3
22761,1001,2015-04-14,white bread,2015,4,14,1
25540,1001,2014-07-02,whole milk,2014,7,2,2
27195,1001,2014-12-12,soda,2014,12,12,4
32575,1001,2015-01-20,whipped/sour cream,2015,1,20,1
32727,1001,2014-07-02,rolls/buns,2014,7,2,2

4.Create a new column as “item count”, and give the count as 1(because all customers bought 1 item on each day only)

In [115]:
data['Item count']=np.ones(len(data))
data

,Member_number,Date,itemDescription,year,month,day,day_of_week,Item count
0,1808,2015-07-21,tropical fruit,2015,7,21,1,1.0
1,2552,2015-05-01,whole milk,2015,5,1,4,1.0
2,2300,2015-09-19,pip fruit,2015,9,19,5,1.0
3,1187,2015-12-12,other vegetables,2015,12,12,5,1.0
4,3037,2015-01-02,whole milk,2015,1,2,4,1.0
...,...,...,...,...,...,...,...,...
38760,4471,2014-08-10,sliced cheese,2014,8,10,6,1.0
38761,2022,2014-02-23,candy,2014,2,23,6,1.0
38762,1097,2014-04-16,cake bar,2014,4,16,2,1.0
38763,1510,2014-03-12,fruit/vegetable juice,2014,3,12,2,1.0
38764,1521,2014-12-26,cat food,2014,12,26,4,1.0


5.Drop unnecessary columns like "month","day","year","day_of_week"

In [116]:
data.drop(['year','month','day','day_of_week'],axis=1,inplace=True)
data

       Member_number        Date        itemDescription  Item count
0               1808  2015-07-21         tropical fruit         1.0
1               2552  2015-05-01             whole milk         1.0
2               2300  2015-09-19              pip fruit         1.0
3               1187  2015-12-12       other vegetables         1.0
4               3037  2015-01-02             whole milk         1.0
...              ...         ...                    ...         ...
38760           4471  2014-08-10          sliced cheese         1.0
38761           2022  2014-02-23                  candy         1.0
38762           1097  2014-04-16               cake bar         1.0
38763           1510  2014-03-12  fruit/vegetable juice         1.0
38764           1521  2014-12-26               cat food         1.0

[38765 rows x 4 columns]

6.Create a new data frame where all data is grouped by member id and items they bought and set their value as item count.

In [117]:
data2 = data.groupby(['Member_number', 'itemDescription'])['Item count'].count().unstack().fillna(0)
data2

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
Member_number,,,,,,,,,,,,,,,,,,,,,
1000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0
1001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0
1002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [118]:
def convert_values(value):
    if value >= 1:
        return 1
    else:
        return 0

In [119]:
data2=data2.applymap(convert_values)

7.Use the Apriori algorithm and generate frequent itemsets that have the support of at least 7%

In [120]:
from mlxtend.frequent_patterns import apriori,association_rules

In [121]:
basket_items = apriori(data2, min_support = 0.07, use_colnames = True, max_len = 2)

In [122]:
basket_items

     support                          itemsets
0   0.078502                        (UHT-milk)
1   0.119548                            (beef)
2   0.079785                         (berries)
3   0.158799                    (bottled beer)
4   0.213699                   (bottled water)
..       ...                               ...
76  0.097486                    (yogurt, soda)
77  0.116470      (tropical fruit, whole milk)
78  0.075680          (tropical fruit, yogurt)
79  0.079785  (whole milk, whipped/sour cream)
80  0.150590              (yogurt, whole milk)

[81 rows x 2 columns]

8.Generating the rules with their corresponding support, confidence, and lift

In [123]:
rules = association_rules(basket_items, metric = 'lift')
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(whole milk),(bottled beer),0.458184,0.158799,0.085428,0.186450,1.174124,0.012669,1.033988
1,(bottled beer),(whole milk),0.158799,0.458184,0.085428,0.537964,1.174124,0.012669,1.172672
2,(other vegetables),(bottled water),0.376603,0.213699,0.093894,0.249319,1.166680,0.013414,1.047450
3,(bottled water),(other vegetables),0.213699,0.376603,0.093894,0.439376,1.166680,0.013414,1.111969
4,(rolls/buns),(bottled water),0.349666,0.213699,0.079271,0.226706,1.060863,0.004548,1.016820
...,...,...,...,...,...,...,...,...,...
81,(yogurt),(tropical fruit),0.282966,0.233710,0.075680,0.267452,1.144379,0.009548,1.046062
82,(whole milk),(whipped/sour cream),0.458184,0.154695,0.079785,0.174132,1.125650,0.008906,1.023536
83,(whipped/sour cream),(whole milk),0.154695,0.458184,0.079785,0.515755,1.125650,0.008906,1.118888
84,(yogurt),(whole milk),0.282966,0.458184,0.150590,0.532185,1.161510,0.020940,1.158185
85,(whole milk),(yogurt),0.458184,0.282966,0.150590,0.328667,1.161510,0.020940,1.068076

9.Filtering out the values with lift > = 1 and confidence > = 0.5

In [124]:
rules[(rules['lift']>=1) & (rules['confidence']>=0.5)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(bottled beer),(whole milk),0.158799,0.458184,0.085428,0.537964,1.174124,0.012669,1.172672
9,(bottled water),(whole milk),0.213699,0.458184,0.112365,0.525810,1.147597,0.014452,1.142615
11,(canned beer),(whole milk),0.165213,0.458184,0.087224,0.527950,1.152268,0.011526,1.147795
19,(domestic eggs),(whole milk),0.133145,0.458184,0.070292,0.527938,1.152242,0.009287,1.147766
21,(newspapers),(whole milk),0.139815,0.458184,0.072345,0.517431,1.129310,0.008284,1.122775
38,(other vegetables),(whole milk),0.376603,0.458184,0.191380,0.508174,1.109106,0.018827,1.101643
43,(pastry),(whole milk),0.177527,0.458184,0.091072,0.513006,1.119651,0.009732,1.112572
44,(pip fruit),(whole milk),0.170600,0.458184,0.086968,0.509774,1.112598,0.008801,1.105239
55,(rolls/buns),(whole milk),0.349666,0.458184,0.178553,0.510638,1.114484,0.018342,1.107190
66,(sausage),(whole milk),0.206003,0.458184,0.106978,0.519303,1.133394,0.012591,1.127146
70,(shopping bags),(whole milk),0.168291,0.458184,0.091329,0.542683,1.184422,0.014220,1.184772
83,(whipped/sour cream),(whole milk),0.154695,0.458184,0.079785,0.515755,1.125650,0.008906,1.118888
84,(yogurt),(whole milk),0.282966,0.458184,0.150590,0.532185,1.161510,0.020940,1.158185

GIT HUB:: https://github.com/Shanezatch/Learnerhub/blob/db89a58c99ba0147890569ee929706c6e78fc51d/IPYTHON/Assignment%205.question%204.ipynb